* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* -------------------
-------------------
-------------------
-------------------
-------------------
-------------------
------------------- */
/* VARIABLES  */
/* -------------------
-------------------
-------------------
-------------------
-------------------
-------------------
------------------- */

:root {
  --color-primary: rgb(180, 208, 231);
  --color-btn: rgb(0, 97, 255);
  --color-dark: rgb(24, 24, 24);
  --default-space: 5rem;
  --default-space-small: 2.5rem;
}
/* -------------------
-------------------
-------------------
-------------------
-------------------
-------------------
------------------- */
/* MAIN ELEMENTS */
/* -------------------
-------------------
-------------------
-------------------
-------------------
-------------------
------------------- */

body {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  max-width: 100vw;
  padding: 30px 0;
  border: 2px dashed rgb(255, 30, 0);
  display: flex;
  justify-content: space-between;
}

nav div img {
  height: 25px;
  width: auto;
  margin-right: 3.5rem;
  margin-left: -2.5rem;
}

button {
  padding: 0.2rem 0.8rem;
  font-size: 1rem;
  border: none;
  background-color: var(--color-btn);
}

button a {
  color: white;
}

.btn-nav {
  margin-right: -2.5rem;
  margin-left: 1.5rem;
}

.btn-main-blue {
  padding: 0.7rem 1.7rem;
}

section {
  padding-top: 1rem;
  margin: auto;
  width: 100%;
}

footer {
  background-color: var(--color-dark) !important;
  padding: var(--default-space) 0;
  color: white;
}

h1 {
  font-size: 5rem;
  font-weight: 800;
}

nav ul {
  display: flex;
  gap: 4rem;
  list-style: none;
}

a {
  text-decoration: none;
  padding: 1rem 0;
}
/* -------------------
-------------------
-------------------
-------------------
-------------------
-------------------
------------------- */
/* CONTAINERS & CLASSES  */
/* -------------------
-------------------
-------------------
-------------------
-------------------
-------------------
------------------- */

.container-l {
  max-width: 100vw;
  border: 2px dashed rgb(60, 255, 0);
  background-color: var(--color-primary);
}

.container-m {
  max-width: 1200px;
  border: 2px dashed rgb(255, 242, 0);
}

.container-s {
  max-width: 920px;
  border: 2px dashed rgb(0, 247, 255);
  margin-top: var(--default-space);
}

.container-nav {
  border: 2px dashed rgb(255, 0, 225);
}

.left {
  padding-left: 4rem;
  display: flex;
  align-items: center;
}

.right {
  padding-right: 4rem;
  display: flex;
  align-items: center;
}
/* -------------------
-------------------
-------------------
-------------------
-------------------
-------------------
------------------- */
/* hero section */
/* -------------------
-------------------
-------------------
-------------------
-------------------
-------------------
------------------- */

.hero-statement {
  display: flex;
  padding-top: var(--default-space);
  margin-bottom: -4.5rem;
}

.hero-p {
  display: flex;
  flex-direction: column;
  line-height: 1.3rem;
}

.jumbo-img {
  max-width: 70%;
  height: auto;
  object-fit: contain;
}

.btn-hero {
  max-width: 70%;
  margin: 2rem 0;
  padding: 0.7rem 1rem;
}

.fa-arrow-down {
  font-size: 3rem;
  padding-top: 5rem;
}

/* MAIN SECTIONS */
/* -------------------
-------------------
-------------------
-------------------
-------------------
-------------------
------------------- */
/* Trova il piano business che fa per te */
/* -------------------
-------------------
-------------------
-------------------
-------------------
-------------------
------------------- */

.first-container {
  margin-top: calc(var(--default-space) * 2);
}

.row {
  border: 2px dashed rgb(32, 120, 117);
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  gap: 2rem;
}
.col {
  margin-top: var(--default-space-small);
  width: 100%;
  height: 1000px; /* NON CORRETTO */
  border: 1px solid rgb(205, 205, 205);
}

.row-bottom {
  width: 100%;
  height: 100px;
  border: 2px dashed rgb(255, 0, 225);
  margin-top: 2rem;
}

main h2 {
  font-size: 2rem;
  padding-bottom: 3rem;
}

main section span {
  padding-right: 2rem;
}

.header-sect {
  display: flex;
  justify-content: center;
  padding: 1rem 1rem;
  border-bottom: 1px solid rgb(205, 205, 205);
}

section div i {
  margin-right: 0.5rem;
}

.container-sect1 {
  padding: 1.2rem 1rem;
}

.container-sect1 p a {
  color: blue;
  text-decoration: underline;
}

.hr-sect1 {
  width: 25%;
  margin: var(--default-space-small) 0;
}

.container-sect1 p {
  margin: 1.5rem 0;
}

.h4-sect1 {
  margin-top: 3.5rem;
}

.container-sect1 h5:nth-child(3) {
  margin-top: 1rem;
  color: grey;
}

.container-sect1 p:nth-child(4) {
  margin-top: var(--default-space-small);
}
/* -------------------
-------------------
-------------------
-------------------
-------------------
-------------------
------------------- */
/* Entra in contatto con un partner Dropbox */
/* -------------------
-------------------
-------------------
-------------------
-------------------
-------------------
------------------- */
.sect2 {
  display: flex;
}

.img-holder-sect2 {
  display: flex;
}

.img-sect2 {
  max-width: 100%;
  object-fit: contain;
}

.p-holder-sect2 {
  flex-grow: 1;
  padding-top: var(--default-space-small);
  padding-left: var(--default-space-small);
}

main h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.btn-basic {
  margin-top: var(--default-space-small);
  margin-left: -12.8px;
  background-color: transparent;
}

.btn-basic a {
  padding: 0.5rem 1rem;
  background-color: white;
  border: 1px solid black;
  color: rgb(0, 0, 0);
}
/* -------------------
-------------------
-------------------
-------------------
-------------------
-------------------
------------------- */
/* Più di 500.000 team utilizzano Dropbox Business */
/* -------------------
-------------------
-------------------
-------------------
-------------------
-------------------
------------------- */
.sect4 {
  padding-bottom: var(--default-space);
}
.sect4 h3 {
  font-size: 2.5rem;
  max-width: 75%;
  padding-bottom: var(--default-space);
}

.sect4 a {
  text-decoration: underline;
  color: blue;
}

/* -------------------
-------------------
-------------------
-------------------
-------------------
-------------------
------------------- */
/* Designit */
/* -------------------
-------------------
-------------------
-------------------
-------------------
-------------------
------------------- */
.sect5 {
  margin-top: var(--default-space);
  height: 600px;
  background-color: transparent;
  display: flex;
}

.cube {
  width: 33.3vw;
  height: 100%;
  border: 1px dashed black;
}

.cube2 {
  position: relative;
  padding: var(--default-space-small) var(--default-space-small);
  background-color: rgb(243, 243, 243);
  overflow: auto;
}

.cube2 p {
  position: absolute;
  top: 6.8rem;
  left: 2.8rem;
}

.cube2 .lorem {
  margin-top: 8rem;
  padding-right: 2rem;
}
.cube2 h2 {
  font-size: 4rem;
}

.cube2 hr {
  max-width: 20%;
}
/* -------------------
-------------------
-------------------
-------------------
-------------------
-------------------
------------------- */
/* Porta Dropbox Business nella tua azienda */
/* -------------------
-------------------
-------------------
-------------------
-------------------
-------------------
------------------- */
.sect6 .container-s {
  margin: auto;
}

.sect6 div {
  display: flex;
  justify-content: space-between;
  padding: var(--default-space) 0;
}
.sect6 h3 {
  font-size: 2.5rem;
  color: rgb(136, 11, 59);
  max-width: 60%;
}

.sect6 button {
  display: flex;
  background-color: white;
  /* padding: 1rem 1rem; */
  max-width: 40%;
  max-height: 2rem;
  align-items: center;
  padding: 0 2rem;
}

/* -------------------
-------------------
-------------------
-------------------
-------------------
-------------------
------------------- */
/* Domande frequenti */
/* -------------------
-------------------
-------------------
-------------------
-------------------
-------------------
------------------- */
.section-last h3 {
  font-size: 2.5rem;
}

.section-last hr {
  margin: var(--default-space-small) 0;
}

.section-last p {
  position: relative;
}

.section-last p i {
  position: absolute;
  right: 5%;
}

/* details {
  position: absolute;
  display: inline-block;
}

.section-last i {
  position: relative;
} */

.section-last {
  margin-bottom: var(--default-space);
}
/* -------------------
-------------------
-------------------
-------------------
-------------------
-------------------
------------------- */
/* FOOTER */
/* -------------------
-------------------
-------------------
-------------------
-------------------
-------------------
------------------- */

.last-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 0;
}

.footer-info {
  max-width: calc(920px / 5);
  width: 100%;
  height: auto;
  border: 2px dashed rgb(255, 0, 225);
}

footer h4 {
  font-size: 1.6rem;
  padding-bottom: 2rem;
}

footer ul {
  display: flex;
  flex-direction: column;
  line-height: 2.8rem;
  list-style: none;
}

.last-hr {
  margin-top: var(--default-space);
  margin-bottom: var(--default-space-small);
  max-width: 60%;
}

footer section div span {
  color: grey;
}
